h1, h2, h3, a {
    color: #eb5252;
}

.bg {

    background-image:url('../images/bg3.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
}

.modal-dialog {
    z-index: 5;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.alert {
    position: absolute;
    top: 0px;
    width: 70%;
    z-index: 1000;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.cover-photo {
    background-image:url('../images/cover.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    height: 400px;
    min-width: 500px;
}


.profile {
    width: 200px;
    height: 200px;
}


.tabheading {
    font-size: 14px;
    font-weight: bold;
}

.tab-content {

}

.post {
    border: solid 1px #bdbdbd;
    min-height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    height: auto !important;
    padding: 20px;
}

.post:hover {
    border: solid 1px #eb5252;
}

.postImg {
    height: 200px;
    display: block;
    float: right;
    /*margin-right: 30px;*/
    /*margin: 0 auto;*/
}

.reply {
    cursor: pointer;
    margin-top: 5px;
}

.reply:hover {
    color: #eb5252;
}

.favourite {
    cursor: pointer;
    margin-left: 50px;
    margin-top: 5px;
}

.favourite:hover {
    opacity: 0.6;
}

.favourited {
    cursor: pointer;
    margin-left: 50px;
    color: #f0ad4e;
    margin-top: 5px;
}

.hashtag {
    background-color: yellow;
}

/*.close {
    color: #eb5252;
}

.close:hover {
    color: black;
}*/

.inline {
    /*display: inline;*/
    text-align: center;
}

.list-group a
{
    display: inline-block;
    height: 30px;
    color: black;

}
.list-group a:hover
{
    text-decoration: none;
}
.selectedTag {
    background-color: #eb5252;
    color: white;
}

.list-group .selectedTag {
    text-decoration: none;
    color: white;
}

.list-item {
    width: 80px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    border: solid 1px #bdbdbd;
}

.list-item:hover {
    opacity: 0.6;
}

.selectedTag:hover {
    opacity: 0.6;
    color: white;
}

.file {
    opacity: 0;
    width: 50px;
    height: 40px;
    position: absolute;
    z-index:10;
    cursor: pointer;
}

.camera {
    cursor: pointer;
    position: absolute;
    left: 30px;
}

@media (max-width: 900px) {

 .cover-photo {
    height: 300px;
 }

.profile {
    width: 150px;
    height: 150px;
}
}