h1, h2, h3 {
    color: #eb5252;
}

.bg {

    background-image:url('../images/bg3.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.alert {
    position: absolute;
    top: 0px;
    width: 70%;
    z-index: 1000;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.cover-photo {
    background-image:url('../images/cover.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    height: 400px;
    min-width: 500px;
}


.profile {
    width: 200px;
    height: 200px;
}


.tabheading {
    font-size: 14px;
    font-weight: bold;
}

.tab-content {

}

.post {
    border: solid 1px #bdbdbd;
    min-height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    height: auto !important;
    padding: 20px;
}

.post:hover {
    border: solid 1px #eb5252;
}

.postImg {
    height: 200px;
    display: block;
    float: right;
    /*margin-right: 30px;*/
    /*margin: 0 auto;*/
}

.reply {
    cursor: pointer;
}

.reply:hover {
    color: #eb5252;
}

.favourite {
    cursor: pointer;
    margin-left: 50px;
}

.favourite:hover {
    color: #f0ad4e;
}

.favourited {
    cursor: pointer;
    margin-left: 50px;
    color: #f0ad4e;
}

@media (max-width: 900px) {

 .cover-photo {
    height: 300px;
 }

.profile {
    width: 150px;
    height: 150px;
}
}