h1, h2, h3 {
    color: #eb5252;
}

.bg {

    background-image:url('bg3.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.alert {
    position: absolute;
    top: 0px;
    width: 70%;
    z-index: 1000;
    margin: 0 auto;
    left: 0;
    right: 0;
}