h1, h2, h3 {
	color: #eb5252;
}

body {
	/*height: 100%;*/
	/*background: url("bg3.jpg") no-repeat center;*/
	background-image:url('bg3.jpg');
	background-repeat:no-repeat;
	/*background-size:contain;*/
	background-size: 100%;
	background-position:center;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}