<!DOCTYPE html>
<html lang="en" ng-app="bthApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seneca Buy & Sell used books</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.textcomplete.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">


      function expand(e) {
        console.log(e);
        if($(e).height() == 100) {
          $(e).css("height", "auto");
          var height = $(e).height();
          $(e).css("height", "100px");
          $(e).animate({ height: height }, 150);
        }
        else
          $(e).animate({ height: "100px" }, 150);
      }

      function bottomExpand(e) {
          var expandable = $(e).parent().find("div").first();

          if(expandable.height() == 100) {
            expandable.css("height", "auto");
            var height = expandable.height();
            expandable.css("height", "100px");
            expandable.animate({ height: height }, 150);
          }
          else
            expandable.animate({ height: "100px" }, 150);
      }
      </script>

  </head>
  <body ng-controller="viewController">
    <div class="container-fluid">
      <div class="row" style="border-bottom: solid 2px #eb5252; height: auto; width: 100%; z-index:100; background: white; position: fixed">
        <div class="col-md-8 col-md-offset-2" style="padding-bottom: 10px;">
          <div class="row">
            <div class="col-md-6">
              <img style="margin-top: 5px;" src="images/seneca.png" alt="Seneca Logo" />
              <a style="color: #eb5252; font-size: 16px; position: relative; top: 8px; margin-left: 50px;" href="#"><i class="glyphicon glyphicon-bell"></i></span>Notification <span class="badge" style="background-color: #eb5252">2</span></a>
            </div>
            <div class="col-md-2">
<!--               <div class="input-group" style="margin-top: 7px;">

                <input type="text" ng-model="price" class="form-control" placeholder="Quick Search"/><br/>
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div> -->
            </div>
            <div class="col-md-4">
    <span class="dropdown" dropdown is-open="status.isopen">
      <img src="images/profile.png" class="dropdown-toggle" dropdown-toggle width="40" height="40" alt="profile image" style="border-radius: 5px; margin-top: 5px; margin-right: 20px; cursor: pointer"/>
      <ul class="dropdown-menu" style="top: 30px;">
        <li >
          <a href>Edit Profile</a>
        </li>
        <li >
          <a href>Setting</a>
        </li>
        <li >
          <a href>Log Out</a>
        </li>
      </ul>
    </span>
              <button type="button" class="btn btn-danger btn-md" ng-click="addPost()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span> List A book
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 cover-photo">
        <div class="row">
          <div class="col-md-4 col-md-offset-5">
              <div style="position: relative; bottom: -80px">
                <img src="images/profile.png" class="profile" alt="profile image" style="border-radius: 5px;"/>
                <p style="color: white; max-width: 200px;"> I'm Ryan. Currently in 7th semester of <a href="#">#BSD</a> Program at Seneca@York </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row" style=" margin-top: 20px;">
          <div class="col-md-2"></div>
          <div class="col-md-6"><input type="text" ng-model="title" typeahead="title for title in titles | filter:$viewValue | limitTo:8" placeholder="Search for book by book title" class="form-control" /></div>
          <div class="col-md-4"><button class="btn btn-danger">Search <i class="fa fa-search"></i></button></div>
        </div>

<div class="container-fluid">
      <div class="row" data-ng-show="!isCollapsed">
        <div class="col-md-12 well" style="margin-top: 20px;">
          Advanced search options
          <button style="width: 150px; position: relative; float: right; display: inline-block" class="btn btn-danger"  ng-click="isCollapsed = !isCollapsed">Show <i class="fa fa-angle-double-down"></i>

          </button>
        </div>
      </div>
</div>
      <div class="row" collapse="!isCollapsed">
        <div class="col-md-12 well well-lg" style="margin-top: 20px;">
          <div class="row"><i class="glyphicon glyphicon-remove close" aria-hidden="true" style="position: relative; top: -20px" ng-click="isCollapsed = !isCollapsed"></i>
            <div class="col-md-6">

              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" placeholder="Max Price" class="form-control" style="width: 150px"/>
              </div>

              <br/>
            <textarea rows="2" class="form-control" id="textarea2" placeholder="Add Hashtags. e.g #cheap, #BTH740, #BSD"></textarea>
            </div>
            <div class="col-md-6">
              <div style="position: relative; top: -20px;">
              <label>Select Campus Below:</label> <br/><i>Click on the button to select or de-select your campuses</i>
            <div class="list-group" <div class="list-group" style="box-shadow: 0px 0px 0px #888888;">
              <a style="cursor: pointer" class="list-item {{selectedYork? 'selectedTag' : ''}}" ng-click="selectedYork=!selectedYork">York</a>
              <a style="cursor: pointer" class="list-item {{selectedMarkham? 'selectedTag' : ''}}" ng-click="selectedMarkham=!selectedMarkham">Markham</a>
              <a style="cursor: pointer" class="list-item {{selectedNewnham? 'selectedTag' : ''}}" ng-click="selectedNewnham=!selectedNewnham">Newnham</a>
              <a style="cursor: pointer" class="list-item {{selectedKing? 'selectedTag' : ''}}" ng-click="selectedKing=!selectedKing">King</a>
              <a style="cursor: pointer" class="list-item {{selectedOther? 'selectedTag' : ''}}" ng-click="selectedOther=!selectedOther">Other</a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

    <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <tabset justified="true" style="margin-top: 10px; padding-bottom: 50px;">
          <tab>
            <tab-heading heading="Justified">
              <span class="tabheading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> All Book Listings<br/>{{allPosts.length}}</span>
            </tab-heading>
            <div>
              <div class="post" ng-repeat="post in allPosts | reverse">
                <div style="width: 100%; cursor: pointer; float: left; height: 100px; overflow: hidden" class="expandable" onclick="expand(this)">
                  <div style="width: 60px; float: left"><img src="{{post.profile}}" width="50" height="50" style="border-radius: 5px;"/></div>
                  <div style="float: left; width: 55%;"><b>{{post.owner}}</b> &nbsp;&nbsp;&nbsp; <i>{{post.date | date:'dd-MMM-yyyy HH:mm:ss' }}</i> <br/> <span ng-bind-html="post.type"></span> <b><i style="text-decoration: underline">{{post.title}}</i></b>. <span ng-bind-html="post.content"></span>
                   <br/><br/> <b>Campuses</b>: <span ng-repeat="campus in post.campuses"><span ng-bind-html="campus"></span> </span>
                    <br/>
                  </div>
                  <div style="width: 30%; float: left; text-align: right"><b>Price: ${{post.price}}</b>
                <div ng-if="post.image">
                  <img ng-if="post.image !== 'images/'" src="{{post.image}}" class="postImg" />
                </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <div style="height: 50px" class="bottomexpand" onclick="bottomExpand(this)">
                  <div style="width: 60px; float: left">&nbsp;</div>
                  <div style="width: 70%; float: left; position: relative;">
                    <i class="fa fa-reply fa-2x reply" popover="Reply" popover-trigger="mouseenter" popover-popup-delay="300"></i> {{post.reply}}
                    <i ng-if="!post.isFaved" class="fa fa-star fa-2x favourite" popover="Add Favourite" popover-trigger="mouseenter" popover-popup-delay="300" ng-click="addFav(post.id, $event)"></i>
                    <i ng-if="post.isFaved" class="fa fa-star fa-2x favourited" popover="Undo Favourite" popover-trigger="mouseenter" popover-popup-delay="300" ng-click="addFav(post.id, $event)"></i>{{post.fav}}
                    <i data-ng-if="post.owner ==='Ryan Dang'" class="glyphicon glyphicon-pencil edit" popover="Edit Your Post" popover-trigger="mouseenter" popover-popup-delay="300"  aria-hidden="true"></i>
                    <img src="images/continue.png" class="continue" popover="Display or hide trimmed content" popover-trigger="mouseenter" popover-popup-delay="100"/>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <tab-heading heading="SJ">
              <span class="tabheading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> My Listings <br/>{{myPosts.length}}</span>
            </tab-heading>
            <div>
              <div class="post" ng-repeat="post in myPosts | reverse">
                <div style="width: 100%; cursor: pointer; float: left; height: 100px; overflow: hidden" class="expandable" onclick="expand(this)">
                  <div style="width: 60px; float: left"><img src="{{post.profile}}" width="50" height="50" style="border-radius: 5px;"/></div>
                  <div style="float: left; width: 55%;"><b>{{post.owner}}</b> &nbsp;&nbsp;&nbsp; <i>{{post.date | date:'dd-MMM-yyyy HH:mm:ss' }}</i> <br/> <span ng-bind-html="post.type"></span> <b><i style="text-decoration: underline">{{post.title}}</i></b>. <span ng-bind-html="post.content"></span>
                   <br/><br/> <b>Campuses</b>: <span ng-repeat="campus in post.campuses"><span ng-bind-html="campus"></span> </span>
                    <br/>
                  </div>
                  <div style="width: 30%; float: left; text-align: right"><b>Price: ${{post.price}}</b>
                <div ng-if="post.image">
                  <img ng-if="post.image !== 'images/'" src="{{post.image}}" class="postImg" />
                </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <div style="height: 50px" class="bottomexpand" onclick="bottomExpand(this)">
                  <div style="width: 60px; float: left">&nbsp;</div>
                  <div style="width: 70%; float: left; position: relative;">
                    <i class="fa fa-reply fa-2x reply" popover="Reply" popover-trigger="mouseenter" popover-popup-delay="300"></i> {{post.reply}}
                    <i ng-if="!post.isFaved" class="fa fa-star fa-2x favourite" popover="Add Favourite" popover-trigger="mouseenter" popover-popup-delay="300" ng-click="addFav(post.id, $event)"></i>
                    <i ng-if="post.isFaved" class="fa fa-star fa-2x favourited" popover="Undo Favourite" popover-trigger="mouseenter" popover-popup-delay="300" ng-click="addFav(post.id, $event)"></i>{{post.fav}}
                    <i data-ng-if="post.owner ==='Ryan Dang'" class="glyphicon glyphicon-pencil edit" popover="Edit Your Post" popover-trigger="mouseenter" popover-popup-delay="300"  aria-hidden="true"></i>
                    <img src="images/continue.png" class="continue" popover="Display or hide trimmed content" popover-trigger="mouseenter" popover-popup-delay="100"/>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <tab-heading>
               <span class="tabheading"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favourite <br/>{{myFavs.length}}</span>
            </tab-heading>
            <div>
              <div ng-if="!myFavs.length"> You don't have any Favourite post yet.</div>
              <div class="post" ng-repeat="post in myFavs | reverse">
                <div style="width: 100%; cursor: pointer; float: left; height: 100px; overflow: hidden" class="expandable" onclick="expand(this)">
                  <div style="width: 60px; float: left"><img src="{{post.profile}}" width="50" height="50" style="border-radius: 5px;"/></div>
                  <div style="float: left; width: 55%;"><b>{{post.owner}}</b> &nbsp;&nbsp;&nbsp; <i>{{post.date | date:'dd-MMM-yyyy HH:mm:ss' }}</i> <br/> <span ng-bind-html="post.type"></span> <b><i style="text-decoration: underline">{{post.title}}</i></b>. <span ng-bind-html="post.content"></span>
                   <br/><br/> <b>Campuses</b>: <span ng-repeat="campus in post.campuses"><span ng-bind-html="campus"></span> </span>
                    <br/>
                  </div>
                  <div style="width: 30%; float: left; text-align: right"><b>Price: ${{post.price}}</b>
                <div ng-if="post.image">
                  <img ng-if="post.image !== 'images/'" src="{{post.image}}" class="postImg" />
                </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <div style="height: 50px" class="bottomexpand" onclick="bottomExpand(this)">
                  <div style="width: 60px; float: left">&nbsp;</div>
                  <div style="width: 70%; float: left; position: relative;">
                    <i class="fa fa-reply fa-2x reply" popover="Reply" popover-trigger="mouseenter" popover-popup-delay="300"></i> {{post.reply}}
                    <i ng-if="!post.isFaved" class="fa fa-star fa-2x favourite" popover="Add Favourite" popover-trigger="mouseenter" popover-popup-delay="300" ng-click="addFav(post.id, $event)"></i>
                    <i ng-if="post.isFaved" class="fa fa-star fa-2x favourited" popover="Undo Favourite" popover-trigger="mouseenter" popover-popup-delay="300" ng-click="addFav(post.id, $event)"></i>{{post.fav}}
                    <i data-ng-if="post.owner ==='Ryan Dang'" class="glyphicon glyphicon-pencil edit" popover="Edit Your Post" popover-trigger="mouseenter" popover-popup-delay="300"  aria-hidden="true"></i>
                    <img src="images/continue.png" class="continue" popover="Display or hide trimmed content" popover-trigger="mouseenter" popover-popup-delay="100"/>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/jquery.textcomplete.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/loginController.js"></script>

    <script type="text/javascript">
    $(function() {

      $('#textarea2').textcomplete([
          { // tech companies
              words: [ '#google', '#Google', 'facebook', '#apple', '#github', "#cheap", "#BSD", "#CPA", "#bsd", "#cpa", "#BTN710", "#BTS730", "#BTH740", "#YORK", "#KING", "#Markham", "#OTHER", "#sell", "#buy", "#book"],
              match: /(#\w+)$/i,
              search: function (term, callback) {
                  callback($.map(this.words, function (word) {
                      return word.indexOf(term) === 0 ? word : null;
                  }));
              },
              index: 1,
              replace: function (word) {
                  return word + ' ';
              }
          }
      ], { maxCount: 5, className: "hashtag"});
    });
    </script>
  </body>
</html>